@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,500&display=swap');

* {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
}

a,
a:hover {
    color: unset;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
    font-weight: 700;
}

.base-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.50);
}

.base-input {
    border-radius: 10px;
    font-size: 1em;
    letter-spacing: -0.015em;
    color: #263239;
    height: 60px;
}

.base-input::placeholder {
    color: #8E8E8E;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}