.nav-logo-text {
    color: white;

}

.nav-logo-text:hover {
    color: white
}

.main-menu {
    display: flex;    
    font-size: 19px;
    width: 390px;
    justify-content: space-between;    
}

.main-menu a {
    color: rgba(255,255,255,0.5);
}

.main-menu a:hover {
    color: white;
}

.main-menu a.active {
    color:white;
    font-weight: 700;
}

.main-nav {
    min-height: 70px;
    padding-left: 40px;

}