ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.admin-nav-container {
  background-color: white;
  padding: 10px;
}

.admin-nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  letter-spacing: -0.015em;
  color: #7f7e7e;
  background-color: #f2f2f2;
  height: 48px;
  border-radius: 50px;
  padding: 0px 8px;
}

.admin-nav-item p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.admin-nav-item.active {
    color: #407bff;
    background-color: rgba(64,123,255,0.4);
    
}




