.search-bar-product-filter {
  padding: 20px;
  text-align: center;
  margin: 0px 0px 20px 0px;
}

.product-filter-name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
}

.product-filter-name-container input {
  border: none;
}

.product-filter-name-container input:focus {
  box-shadow: none;
}

.product-filter-name-container input::placeholder {
  color: #9e9e9e;
}

.product-filter-name-container svg {
  width: 40px;
  height: 40px;
}

@media (min-width: 768px) {
  .search-bar-product-filter {
    margin-left: 20px;
    flex: 1;
    margin-bottom: 0;
  }
}
