.search-bar-product-filter {
  padding: 20px;
  text-align: center;
  margin: 0px 0px 20px 0px;
}

.product-filter-name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #e1e1e1;
}

.product-filter-name-container input {
  border: none;
  height: 40px;
}

.product-filter-name-container input:focus {
  box-shadow: none;
}

.product-filter-name-container input::placeholder {
  color: #9e9e9e;
}

.product-filter-name-container svg {
  width: 40px;
  height: 40px;
}

.product-filter-search-icon {
  background-color: unset;
  border: none;

}

.product-filter-bottom-container {
  display: flex;
  flex-direction: row;


}

.product-filter-category-container {
  flex: 1;
  margin: 0 15px 0 0;
}

.btn-product-filter-search {
  display: none;
}

.btn-product-filter-clear {
  font-weight: 700;
  border-radius: 10px;

}

.product-filter-select__control {
  border: 1px solid #e1e1e1 !important;
  border-radius: 10px !important;
  font-size: 1em;
  letter-spacing: -0.015em;
  color: #263239;
}

.product-filter-select__indicator-separator {
  display: unset;
}

.product-filter-select__placeholder {
  color: #8e8e8e !important;
}

@media (min-width: 576px) {

  .btn-product-filter-search {
    display: unset;
  }

}

@media (min-width: 768px) {

  .btn-product-filter-search {
    display: none;
  }

  .search-bar-product-filter {
    margin-left: 20px;
    margin-bottom: 0;
    flex: 1;
    padding: 10px 15px;

  }

  .product-filter-form {
    display: flex;
  }

  .product-filter-bottom-container {
    flex: 1;
  }

  .product-filter-name-container {
    flex: 1;
    margin-bottom: 0px;
    margin-right: 20px;
  }

  .product-filter-select__control {
    border: none !important;
    padding: 3px;
    border-bottom: 1px solid #e1e1e1 !important;
    border-radius: 0px !important;
  }

  .product-filter-select__indicator-separator {
    display: none;
  }
}

@media (min-width: 992px) {

  .btn-product-filter-search {
    display: unset;
  }
}